USE [MovieTheaterManagement]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2023/4/28 下午 11:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(0,1) NOT NULL,
	[role] [varchar](15) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[register_datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_member]    Script Date: 2023/4/28 下午 11:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_member] as select * from [user] where role = 'mb';
GO
/****** Object:  Table [dbo].[hall]    Script Date: 2023/4/28 下午 11:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hall](
	[hall_id] [char](10) NOT NULL,
	[hall_type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_hall_1] PRIMARY KEY CLUSTERED 
(
	[hall_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 2023/4/28 下午 11:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie](
	[movie_id] [int] IDENTITY(1,1) NOT NULL,
	[movie_name] [nvarchar](150) NOT NULL,
	[type] [nvarchar](100) NOT NULL,
	[director] [nvarchar](100) NOT NULL,
	[duration] [int] NOT NULL,
	[poster_url] [nvarchar](200) NOT NULL,
	[trailer_url] [nvarchar](500) NOT NULL,
	[top3] [bit] NOT NULL,
	[release_date] [date] NOT NULL,
 CONSTRAINT [PK_movie] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedule]    Script Date: 2023/4/28 下午 11:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id] [int] NOT NULL,
	[hall_id] [char](10) NOT NULL,
	[showing_time] [datetime] NOT NULL,
 CONSTRAINT [PK_schedule] PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seat_status]    Script Date: 2023/4/28 下午 11:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seat_status](
	[schedule_id] [int] NOT NULL,
	[a1] [bit] NOT NULL,
	[a2] [bit] NOT NULL,
	[a3] [bit] NOT NULL,
	[a4] [bit] NOT NULL,
	[a5] [bit] NOT NULL,
	[b1] [bit] NOT NULL,
	[b2] [bit] NOT NULL,
	[b3] [bit] NOT NULL,
	[b4] [bit] NOT NULL,
	[b5] [bit] NOT NULL,
	[c1] [bit] NOT NULL,
	[c2] [bit] NOT NULL,
	[c3] [bit] NOT NULL,
	[c4] [bit] NOT NULL,
	[c5] [bit] NOT NULL,
 CONSTRAINT [PK_seat_status] PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket]    Script Date: 2023/4/28 下午 11:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[schedule_id] [int] NOT NULL,
	[seat] [varchar](50) NOT NULL,
	[adult_num] [int] NOT NULL,
	[elder_num] [int] NOT NULL,
	[child_num] [int] NOT NULL,
	[student_num] [int] NOT NULL,
	[total_price] [int] NOT NULL,
	[order_datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_ticket] PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[hall] ([hall_id], [hall_type]) VALUES (N'F1H1      ', N'2D')
INSERT [dbo].[hall] ([hall_id], [hall_type]) VALUES (N'F1H2      ', N'2D')
INSERT [dbo].[hall] ([hall_id], [hall_type]) VALUES (N'F1H3      ', N'IMAX')
GO
SET IDENTITY_INSERT [dbo].[movie] ON 

INSERT [dbo].[movie] ([movie_id], [movie_name], [type], [director], [duration], [poster_url], [trailer_url], [top3], [release_date]) VALUES (1, N'ブラックアダム', N'スーパーヒーロー', N'ジャウム・コレット＝セラ', 125, N'blackAdam.jpg', N'C:\Users\ASUS\Desktop\MovieTheaterManagementSystem\PictureVideo\映画『ブラックアダム』本編映像（アクション編）大ヒット上映中.mp4', 0, CAST(N'2022-10-19' AS Date))
INSERT [dbo].[movie] ([movie_id], [movie_name], [type], [director], [duration], [poster_url], [trailer_url], [top3], [release_date]) VALUES (7, N'AIR/エア', N'スポーツ', N'ベン・アフレック', 112, N'air.jpg', N'C:\Users\ASUS\Desktop\MovieTheaterManagementSystem\PictureVideo\映画『AIR_エア』予告 2023年4月7日（金）公開.mp4', 0, CAST(N'2023-04-16' AS Date))
INSERT [dbo].[movie] ([movie_id], [movie_name], [type], [director], [duration], [poster_url], [trailer_url], [top3], [release_date]) VALUES (14, N'スーパーマリオ」', N'アニメ', N'アーロン・ホーバス マイケル・イェレニック', 120, N'mario.jpg', N'C:\Users\ASUS\Desktop\MovieTheaterManagementSystem\PictureVideo\任天堂「スーパーマリオ」が映画化！『ザ・スーパーマリオブラザーズ・ムービー』トレーラー映像.mp4', 1, CAST(N'2023-04-16' AS Date))
SET IDENTITY_INSERT [dbo].[movie] OFF
GO
SET IDENTITY_INSERT [dbo].[schedule] ON 

INSERT [dbo].[schedule] ([schedule_id], [movie_id], [hall_id], [showing_time]) VALUES (2, 1, N'F1H1      ', CAST(N'2023-04-06T10:30:00.000' AS DateTime))
INSERT [dbo].[schedule] ([schedule_id], [movie_id], [hall_id], [showing_time]) VALUES (5, 1, N'F1H1      ', CAST(N'2023-04-06T15:00:00.000' AS DateTime))
INSERT [dbo].[schedule] ([schedule_id], [movie_id], [hall_id], [showing_time]) VALUES (8, 1, N'F1H1      ', CAST(N'2023-04-07T11:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[schedule] OFF
GO
INSERT [dbo].[seat_status] ([schedule_id], [a1], [a2], [a3], [a4], [a5], [b1], [b2], [b3], [b4], [b5], [c1], [c2], [c3], [c4], [c5]) VALUES (2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[seat_status] ([schedule_id], [a1], [a2], [a3], [a4], [a5], [b1], [b2], [b3], [b4], [b5], [c1], [c2], [c3], [c4], [c5]) VALUES (5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[seat_status] ([schedule_id], [a1], [a2], [a3], [a4], [a5], [b1], [b2], [b3], [b4], [b5], [c1], [c2], [c3], [c4], [c5]) VALUES (8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[ticket] ON 

INSERT [dbo].[ticket] ([ticket_id], [user_id], [schedule_id], [seat], [adult_num], [elder_num], [child_num], [student_num], [total_price], [order_datetime]) VALUES (2, 1, 14, N'A2,B2', 1, 0, 1, 0, 2800, CAST(N'2023-04-20T00:00:00.000' AS DateTime))
INSERT [dbo].[ticket] ([ticket_id], [user_id], [schedule_id], [seat], [adult_num], [elder_num], [child_num], [student_num], [total_price], [order_datetime]) VALUES (4, 4, 16, N'A4', 1, 0, 0, 0, 1800, CAST(N'2023-04-18T00:00:00.000' AS DateTime))
INSERT [dbo].[ticket] ([ticket_id], [user_id], [schedule_id], [seat], [adult_num], [elder_num], [child_num], [student_num], [total_price], [order_datetime]) VALUES (5, 30, 16, N'A5', 1, 0, 0, 0, 1800, CAST(N'2023-04-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [role], [user_name], [email], [password], [register_datetime]) VALUES (1, N'admin', N'Ryan Huang', N'ryan@test.com', N'ryan', CAST(N'2023-04-13T00:00:00.000' AS DateTime))
INSERT [dbo].[user] ([user_id], [role], [user_name], [email], [password], [register_datetime]) VALUES (4, N'stf', N'翔太', N'syouta@test.com', N'syouta', CAST(N'2023-04-15T00:00:00.000' AS DateTime))
INSERT [dbo].[user] ([user_id], [role], [user_name], [email], [password], [register_datetime]) VALUES (9, N'mb', N'由美子', N'yumiko@test.com', N'yumiko', CAST(N'2023-04-20T09:15:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[user] OFF
GO
ALTER TABLE [dbo].[schedule]  WITH CHECK ADD  CONSTRAINT [FK_schedule_hall] FOREIGN KEY([hall_id])
REFERENCES [dbo].[hall] ([hall_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[schedule] CHECK CONSTRAINT [FK_schedule_hall]
GO
ALTER TABLE [dbo].[schedule]  WITH CHECK ADD  CONSTRAINT [FK_schedule_movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[movie] ([movie_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[schedule] CHECK CONSTRAINT [FK_schedule_movie]
GO
ALTER TABLE [dbo].[seat_status]  WITH CHECK ADD  CONSTRAINT [FK_seat_status_schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[schedule] ([schedule_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[seat_status] CHECK CONSTRAINT [FK_seat_status_schedule]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK_ticket_schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[schedule] ([schedule_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK_ticket_schedule]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK_ticket_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK_ticket_user]
GO
